<div class="main-container">
    @if (loading()) {
    <div>Carregando!</div>
    } @else {
    <div class="main-content">
        <div class="header">
            <div style="display: flex; flex-direction: row;">
                <h1 class="main-title">Minha Instituição</h1>
                @if (isPrincipal()) {
                <button class="button">
                    <mat-icon class="menu-icon">edit_document</mat-icon>
                </button>
                }
            </div>

            @if(userCompanies().length > 1) {
            <mat-form-field appearance="outline" class="company-select">
                <mat-label>Instituição</mat-label>

                <mat-select [value]="selectedCompany()?.companyId" (selectionChange)="changeCompany($event.value)">

                    @for(company of userCompanies(); track company.companyId) {
                    <mat-option [value]="company.companyId">
                        {{ company.companyName }}
                    </mat-option>
                    }

                </mat-select>
            </mat-form-field>
            } @else {
            <span class="company-name">
                {{ selectedCompany()?.companyName }}
            </span>
            }

        </div>
        <div class="info-card">
            <h2 class="section-title">Dados Gerais</h2>
            <div class="info-grid">
                <div class="info-item">
                    <span class="label">Nome</span>
                    <span class="value">{{company()?.companyName}}</span>
                </div>

                <div class="info-item">
                    <span class="label">CNPJ</span>
                    <span class="value">{{company()?.cnpj ? CnpjFormatter.format(company()!.cnpj.toString()) :
                        "-"}}</span>
                </div>

                <div class="info-item">
                    <span class="label">Email</span>
                    <span class="value">{{company()?.email}}</span>
                </div>

                <div class="info-item">
                    <span class="label">Telefone</span>
                    <span class="value">{{company()?.phone}}</span>
                </div>
            </div>
        </div>

        <div class="info-card">
            <h2 class="section-title">Matriz Curricular</h2>
            <div class="info-grid">
                <div class="info-item">
                    <span class="label">Idioma</span>
                    <span class="value">Francês</span>
                </div>

                <div class="info-item">
                    <span class="label">Níveis</span>
                    <span class="value">Básico, Intermediário, Avançado</span>
                </div>

                <div class="info-item">
                    <span class="label">Certificações</span>
                    <span class="value">DELF/DALF</span>
                </div>
                <div class="info-item">
                    <span class="label">Público-alvo</span>
                    <span class="value">Adultos, Adolescentes</span>
                </div>
            </div>
        </div>

        <div class="info-card">
            <div class="header" style="justify-content: space-between;">
                <div class="header">
                    <h2 class="section-title">Corpo Docente</h2>
                    <button class="see-all-button" (click)="seeAllTeachers(company()?.id!)">Ver tudo</button>
                </div>
                @if(isPrincipal()){
                <button class="add-button" (click)="openTeacherModal()">
                    <mat-icon class="menu-icon">add</mat-icon>
                </button>
                }
            </div>
            <div class="teachers-list">
                <div class="teachers-column">
                    <span class="label">Diretor(a)</span>
                    <div class="pill director">{{company()?.principalTeacher?.name}}</div>
                </div>
                <div class="teachers-column">
                    <span class="label">{{staff().length === 1 ? 'Professor' : 'Professores'}}</span>
                    <div class="pill-container">
                        @for (teacher of staff().slice(0, 5); track teacher.id) {
                        <span class="pill professor">{{ teacher.name }}</span>
                        }
                        @if (staff().length > 5) {
                        <span class="pill professor">
                            + {{ staff().length - 5 }} membros
                        </span>
                        }
                    </div>
                </div>
            </div>
        </div>

        <app-social-network-modal [isOpen]="isModalOpen()" (close)="closeModal()" />
        <app-teacher-modal [isOpen]="isTeacherModalOpen()" (close)="closeModal()"
            [autorizedCompanies]="userCompanies()" />
        <div class="info-card">
            <div class="header" style="justify-content: space-between;">
                <h2 class="section-title">Redes Sociais</h2>
                @if(isPrincipal()){
                <button class="add-button" (click)="openSocialModal()">
                    <mat-icon class="menu-icon">add</mat-icon>
                </button>
                }
            </div>

            <div class="social-container">
                @if(company()?.socialNetworks){
                @for(social of company()?.socialNetworks!; track social.id!){
                <a class="social-pill" [href]="formatUrl(social.url)" target="_blank" rel="noopener noreferrer">
                    <span class="social-name">{{ social.name }}</span>
                    <span class="social-user">{{ getUsername(social.url) }}</span>
                </a>
                }
                }
            </div>
        </div>
    </div>
    }
</div>