// .main-container {
//     flex: 1;
//     padding: 24px;
//     height: 100%;
//     background-color: #fafcff;
//     border-radius: 12px;
//     border: 1px solid #eaeaea;

//     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
// }