<div class="page">
    <!-- TODO: Refact futuro -->
    <app-common-modal [isOpen]="isModalOpen()" [title]="'Alterar status de usuário'" [cancelButtonText]="'Fechar'"
        [confirmButtonText]="'Continuar'" (close)="toggleModalStatus()" (cancel)="toggleModalStatus()"
        (confirm)="changeUserStatus(this.user()!.companies[0].active)">
        <p class="confirm-text">Você tem certeza que deseja
            <strong>{{ this.user()!.companies[0].active ? 'DESATIVAR' : 'ATIVAR' }}</strong>
            o usuário <strong>{{user()?.name}}</strong>?
        </p>
    </app-common-modal>

    <app-common-modal [isOpen]="isRoleModalOpen()" [title]="'Alterar papel de usuário'" [cancelButtonText]="'Fechar'"
        [confirmButtonText]="'Continuar'" (close)="toggleRoleModal()" (cancel)="toggleRoleModal()"
        (confirm)="confirmRoleModal()">
        <div class="role-options">
            @for (role of availableRoles; track role) {
            <button type="button" class="role-option" [class.selected]="selectedRole === role"
                (click)="selectedRole = role">
                <span>
                    {{ RoleHelper.translate(role) }}
                </span>

                @if (selectedRole === role) {
                <span>✓</span>
                }
            </button>
            }
        </div>
    </app-common-modal>

    <div class="header">
        <div style="display: flex; flex-direction: row;">
            <button class="back-button" (click)="handleBackButton()">
                ←
            </button>
            <h1>Editar membro</h1>
        </div>
        <!-- TODO: finalizar esse componente, está próximo bem próximo -->
        <!-- A ideia é montar o modal com somente os cargos possíveis para aquele user,
         lembrando de não poder trocar o Principal (proprietario da instituição) -->
        <button class="menu-button" type="button" [matMenuTriggerFor]="memberMenu" aria-label="Opções do membro">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #memberMenu="matMenu">
            <button mat-menu-item (click)="toggleRoleModal()">
                <mat-icon>manage_accounts</mat-icon>
                <span>Alterar função</span>
            </button>

            <button mat-menu-item (click)="toggleModalStatus()">
                <mat-icon>
                    {{ this.user()!.companies[0].active ? 'person_off': 'person_on' }}
                </mat-icon>
                <span>
                    {{ this.user()!.companies[0].active ? 'Desativar Usuário' : 'Ativar Usuário' }}
                </span>
            </button>
        </mat-menu>
    </div>

    <div class="profile-card">
        @if (this.user()?.profilePhoto) {
        <img [src]="this.user()?.profilePhoto" class="avatar">
        } @else {
        <img src="https://i.pravatar.cc/180" class="avatar">
        }
        <div class="info">
            <h2>{{ user()?.name || '-' }}</h2>
            <p>{{ user()?.email || '-' }}</p>
            <p>{{ DateFormatter.formatDate(user()?.birth ?? null) }}</p>
            <p>{{ this.user() ? (this.user()!.companies && this.user()!.companies[0] && this.user()!.companies[0].role ?
                RoleHelper.translate(this.user()!.companies[0].role) : '-') : '-' }}</p>
            <p>{{ this.user()?.companies?.[0]?.companyName || '-' }}</p>
            <p>{{ this.user()!.companies[0].active ? 'Ativo' : 'Inativo' }}</p>
        </div>
    </div>

    <div class="section">
        <div class="section-header">
            <h2>Turmas</h2>
            <button>
                + Alocar em turma
            </button>
        </div>

        <div class="class-list">
            <div class="class-card">
                <div>
                    <h3>3º Ano A</h3>
                    <span>28 alunos</span>
                </div>
                <button class="remove">
                    Remover
                </button>
            </div>

            <div class="class-card">
                <div>
                    <h3>2º Ano B</h3>
                    <span>31 alunos</span>
                </div>

                <button class="remove">
                    Remover
                </button>
            </div>
        </div>
    </div>

    <div class="actions">
        <button class="cancel" (click)="handleBackButton()">
            Cancelar
        </button>
        <button class="save">
            Salvar alterações
        </button>
    </div>
</div>