.layout {
    display: flex;
    height: 100vh;
}

.logo-container {
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    height: 40px;

    h2 {
        font-size: 42px;
    }
}

.options {
    margin-top: 30px;
    gap: 10px;
}

.sidebar {
    width: 240px;
    height: 100%;
    background: #1e1e2f;
    color: #fff;
    padding: 1rem;
    border-radius: 0 15px 15px 0;
    transition: width 0.25s ease, opacity 0.25s ease;

    li {
        list-style: none;
        font-size: 18px;

        p {
            font-size: 18px;
        }
    }
}

.sidebar.closed {
    height: 100%;
    background: #1e1e2f;
    color: #fff;
    padding: 1rem;
    width: 70px;

    // p,
    // a {
    //     display: none;
    // }
}

.sidebar a,
.sidebar a:visited {
    color: #cfd2dc;
    text-decoration: none;
}

.content {
    flex: 1;
    padding: 1.5rem;
    background: #f5f6fa;
}

.toggle-button {
    color: #f5f6fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;

    p {
        font-size: 18px;
    }
}

.logoff-container {
    padding: 12px;
}

.logoff-button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;

    background: none;
    border: none;
    cursor: pointer;

    padding: 10px;
    border-radius: 6px;
}

.logoff-button:hover {
    background-color: #f3f4f6;
}