<nav class="sidebar" [class.closed]="!isOpen()">
    <div class="logo-container">
        @if(isOpen()){
        <h2>Lynx</h2>
        } @else {
        <h2>🇫🇷</h2>
        }
    </div>

    <div class="options">
        <ul>
            <li>
                <button class="toggle-button" (click)="toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </li>
            @for (item of menu(); track item.label) {
            <li>
                @if (item.route) {
                <a [routerLink]="item.route" routerLinkActive="active">
                    {{item.icon}} {{ item.label }}
                </a>
                }

                @if (item.children?.length) {
                <span class="submenu-title">{{ item.label }}</span>
                <ul class="submenu">
                    @for (child of item.children; track child.label) {
                    <li>
                        <a [routerLink]="child.route" routerLinkActive="active">
                            {{ child.label }}
                        </a>
                    </li>
                    }
                </ul>
                }
            </li>
            }
        </ul>
    </div>
    <div class="logoff-container">
        <button class="logoff-button">
            <mat-icon>logout</mat-icon>

            @if (isOpen()) {
            <span>Sair</span>
            }
        </button>
    </div>
</nav>