.layout {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-container {
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    height: 40px;

    h2 {
        font-size: 42px;
    }
}

.options {
    margin-top: 30px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 30px;

}

.menu-link {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    text-decoration: none;
}

.toggle-button {
    display: flex;
}

.menu-label {
    color: #cfd2dc;
}

.menu-label:hover {
    color: #07d2d2;
}

.menu-icon {
    font-size: 22px;
    width: 24px;
    height: 24px;
    line-height: 24px;
}


.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 240px;
    height: 100%;
    background: #1e1e2f;
    color: #fff;
    padding: 1rem;
    border-radius: 0 15px 15px 0;
    transition: width 0.25s ease, opacity 0.25s ease;

    li {
        list-style: none;
        font-size: 20px;
        margin-bottom: 10px;

        p {
            font-size: 18px;
        }
    }
}

.sidebar.closed {
    height: 100%;
    background: #1e1e2f;
    color: #fff;
    width: 70px;
}

.sidebar a,
.sidebar a:visited {
    color: #cfd2dc;
    text-decoration: none;
}

.content {
    flex: 1;
    background: #f5f6fa;
}

.toggle-button {
    color: #cfd2dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;

    p {
        font-size: 20px;
    }
}

.logoff-container {
    margin-top: auto;
}

.logoff-button {
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;

    background: none;
    border: none;
    cursor: pointer;

    padding: 5px;
    border-radius: 6px;
}

.logoff-button mat-icon {
    font-size: 24px;
}

.logoff-button:hover {
    background-color: #cfd2dc;
    color: #1e1e2f;
}