<app-common-modal [isOpen]="isModalOpen()" [title]="'Alterar função'" [cancelButtonText]="'Cancelar'"
    [confirmButtonText]="'Salvar'" (close)="closeModal()" (cancel)="closeModal()" (confirm)="confirmModal()">
    <div class="role-options">
        @for (role of availableRoles; track role) {
        <button type="button" class="role-option" [class.selected]="selectedRole === role"
            (click)="selectedRole = role">
            <span>
                {{ RoleHelper.translate(role) }}
            </span>

            @if (selectedRole === role) {
            <span>✓</span>
            }
        </button>
        }
    </div>
</app-common-modal>