<app-common-modal [isOpen]="isOpen" [title]="'Adicionar Professor'" [cancelButtonText]="'Fechar'"
    [confirmButtonText]="'Cadastrar Professor'" (close)="closeModal()" (cancel)="closeModal()"
    (confirm)="step() === 'form' ? confirmModal() : confirmAssociation()">
    <!--TODO: Aqui será feito o vínculo de User com Company
    o professor já deve estar com um login e será buscado pelo email
    Inserir mensagens de erro e ver funções
    -->
    @if (step() === 'form') {
    <div class="social-form">
        <div>
            <label class="label">Digite o email:</label>
            <input class="input" type="text" [value]="email()" (input)="email.set($any($event.target).value)"
                placeholder="Ex: usuario@email.com" />
        </div>

        <div style="display: flex; justify-content: space-between; gap: 12px;">
            <div style="flex: 1;">
                <label class="label">Instituição:</label>
                <select class="input" [value]="company()" (change)="company.set($any($event.target).value)">
                    <option value="">Selecione...</option>

                    @for (company of autorizedCompanies(); track company.companyId) {
                    <option [value]="company.companyId">
                        {{ company.publicName }}
                    </option>
                    }
                </select>
            </div>

            <div style="flex: 1;">
                <label class="label">Função:</label>
                <select class="input" [value]="role()" (change)="role.set($any($event.target).value)">
                    <option value="" selected>Selecione...</option>
                    @for (role of roleList(); track role.value) {
                    <option [value]="role.value">{{role.label}}</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <p style="margin-top: 15px; margin-bottom: 0; color: #ff0000;">{{errorMessage()}}</p>
    } @else {
    <!-- TODO: deixar bonito e entender pq não está vindo Company -->
    <!-- fazer a função confirmAssociation -->
    <h3>Confirmação</h3>

    <p><strong>Nome:</strong> {{ foundUser()?.name }}</p>
    <p><strong>Email:</strong> {{ foundUser()?.email }}</p>
    <p><strong>Instituição:</strong> {{ company()?.publicName }}</p>
    <p><strong>Função:</strong> {{ role() }}</p>
    }
</app-common-modal>